/* BlogHome.css */

/* General page layout */
.blog-home {
  background: var(--page-bg);
  padding: 0.5rem 2rem;
  min-height: 100vh;
}

.blog-name-title {
  padding-top: 1.5rem;
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-heading);
  text-align: center;
  border-bottom: 3px solid var(--text-heading);
  line-height: 1.1;
}


/* Blog post container and layout */
.blog-post {
  background:var(--background-card);
  max-width: 900px;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  border: 2px solid var(--border-color);
}

.blog-post-inner {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

.thumbnail-top .blog-post-inner {
  flex-direction: column;
}

.no-thumbnail .blog-post-inner {
  flex-direction: column;
}

.blog-post-content {
  flex: 1;
}

@media (min-width: 768px) {
  .blog-post.has-image {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .blog-post-inner {
    flex-direction: column !important;
    gap: 1rem;
  }

  .blog-thumbnail-wrapper-right {
    width: 100%;
    height: auto;
    order: 0 !important;
  }

  .blog-thumbnail-right {
    width: 100%;
    height: auto;
  }
}


/* Text content styles */
.blog-title-link {
  cursor: pointer;
  font-family: 'Dancing Script';
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-heading);
  margin-bottom: 0.3rem;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

.blog-title-link:hover {
  color: orchid;
  text-decoration: underline;
}

.blog-meta {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.blog-category {
  display: inline-block;
  background: var(--border-color);
  color: var(--card-label);
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.3rem 0.75rem;
  border-radius: 999px;
  margin-right: 0.5rem;
}

.blog-excerpt {
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.read-more {
  margin-top: 1rem;
  display: inline-block;
  color: var(--more);
  font-weight: 600;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  padding: 0;
  background-color: transparent;
}

.read-more a:hover {
  color: var(--more-hover);
  text-decoration: underline;
}

/* Utility classes & messages */
.clickable-category {
  cursor: pointer;
  text-decoration: underline;
  color: #6b21a8;
  transition: color 0.2s;
}

.clickable-category:hover {
  color: #9d4edd;
}

.clickable-category.active {
  font-weight: bold;
  color: #3c1742;
}

.result-count {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--count-text);
}

.no-posts-message {
  font-style: italic;
  color: var(--count-text);
  padding: 1rem 0;
}